@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");

.banner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(https://images.unsplash.com/photo-1536440136628-849c177e76a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=725&q=80);
  background-position: center;
  background-size: cover;
  position: relative;
  margin-bottom: -3%;
}

.banner img {
  margin-top: -10%;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.desc {
  text-align: center;
  /* font-family: "Yellowtail", cursive; */
  font-size: 150%;
  font-weight: 600;
  animation: flicker 1.5s infinite alternate;
  color: #fff;
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px rgb(255, 0, 64), 0 0 80px rgb(192, 184, 185), 0 0 90px rgb(189, 181, 184), 0 0 100px rgb(179, 174, 176), 0 0 150px rgb(255, 0, 85);
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}
